@font-face{
    font-family: myfamily;
    src: url("Poppins-Regular.ttf");
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:myfamily ;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    /* background-image: url(images/background.jpg); */
    
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/pic5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;
    padding: 29px 12px;     
}
nav ul li a.red,a:hover{
  
    background: rgb(236, 129, 28);
    color: black;  
}
.block{
    width: auto;
    height: 10px;
    background-color: rgb(236, 129, 28);
    margin: 0%;
}

/* Define the animation */
@keyframes vibrationAnimation {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px); /* Move slightly to the right */
    }
    50% {
      transform: translateX(0); /* Back to the original position */
    }
    75% {
      transform: translateX(-5px); /* Move slightly to the left */
    }
    100% {
      transform: translateX(0); /* Back to the original position */
    }
  }
  
  /* Apply the animation to the element */
  .vibration-animation {
    animation: vibrationAnimation 1s ease-in-out infinite; /* Adjust the animation duration and timing function as needed */
  }
  
  

.text{

    display: flex;
    padding: 2rem 9%;  
}
.text img{
    height: 81vh;
    margin-top: 4%; 
    margin-left: 28%;
   
}
.Dev-text{
    margin-top: 15%;
    font-size: 30px;
}

#about{
    padding: 2rem 9%;
    color: white ;
}
.row{

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.about-col-1{

    flex-basis: 35%;
}
.about-col-1 img{
    height: 86vh;
    border-radius: 15px;
    margin-right: 10px;
} 
.about-col-2{
    flex-basis: 60%;
}
.title{
    font-size: 55px;
    font-weight: 600px;
    color:rgb(236, 129, 28);
}
div.paragh p{
    text-align: justify;
    padding: 10px 0;
    font-size: 16px;
    position: relative;
}
.resume{
    text-decoration: none;
    padding: 16px 35px;
    border: 1px solid rgb(236, 129, 28);
    letter-spacing: 2px;
    border-radius: 35px;
    color: white;
    font-weight: bold;
    position: absolute;
}

#skill{

    width: 100%;
    height: 100vh;
    align-items: center; 
    padding: 2rem 9%;
}
div.skill1{

    color: white;
    width: 20%;
    height: 220px;
    text-align: center;
    box-shadow: 1px 1px 20px rgb(59, 58, 58);
    /* background-color: rgba(15, 12, 12, 0.5); */
    background: #0d0e0e;
    box-sizing: border-box;
    border-radius: 8px;
    flex: 1 1;
    margin: 20px;
    padding: 5px;
}
.skill-title{

    color:rgb(236, 129, 28);
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-weight: 600px;
    font-family: myfamily;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    
}

.skill4{

    color: #ffffff;
    width: 30%;
    height: 210px;
    text-align: center;
    box-shadow: 1px 1px 20px rgb(59, 58, 58);
    /* background-color: rgba(15, 12, 12, 0.5); */
    background: #0d0e0e;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 210px;
    margin-right: -170px;
    padding: 5px;
}
.boxes p,.box2 p{
    color:rgb(236, 129, 28); 
    font-weight: 15px;
}
.box2{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.project-title{
    padding: 30px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap:40px;
  
   
}
.project-content{
    padding: 2rem 9%;
}

.projects{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    background: #0d0e0e;
    transition: all 0.40s ease;

}
.projects img{
    width: 100%;
    height: 280px;
    border-radius: 10px;
    display: block;
}
.project-title{
    color:rgb(236, 129, 28);
    text-align: center;
    font-size: 40px;
    font-weight: 600px;
    font-family: myfamily;
}
.projects:hover{
    transform: scale(1.05) translateY(-5px);
    cursor: pointer;
    background-color: rgb(170, 111, 56,0.4);
}
.layer h3{
    padding: 5px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400px;
    color:rgb(236, 129, 28); 
}
.layer p{
    padding: 5px;
    font-size: 15px;
}

.contact-list{
   
    display: flex;
    gap: 10px;
    background: #0d0e0e;
    height: 100px;
    padding: 5px;
}
.contact-content , .row2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 50px 70px;
}
.fa-solid{
   
    margin-top: 10px !important;
    padding: 20px;
}
.fa-square-arrow-up-right{
   padding: 4px;
}

.layer  i{
    color:  white;
    margin-top: 10px;
    font-size: 18px;
    background: rgb(236, 129, 28);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
}

.layer  i:hover{
    background: white;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(236, 129, 28);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 50%;
}
.icon {
    display: flex;
}

.icon a{
    width: 40px;
    height: 40px;
    /* background: rgb(236, 129, 28); */
    border: 1px solid rgb(236, 129, 28);
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 5px;
}
.icon a .fa-brands{
    font-size: 18px;
    line-height: 40px;
}
.contact-list h2{
    
    margin-top: 5px;
    font-weight: 400px;
    padding-right: 5px;

}
#Contact h1{
    color:rgb(236, 129, 28);
    text-align: center;
    margin-top: 120px;
    padding: 20px;
    font-size: 40px;
    font-weight: 600px;
    font-family: myfamily;

}
#Contact{
    width: 90%;
    margin: auto;

}
.contact-form{
    position: relative;
    width: 90%;
    height: 600px;
    background: #0d0e0e;
    margin: auto;
}

.contact-form form input, form textarea{
   
    padding: 5px;
    /* background: #0d0e0e; */
    background-color: rgb(31, 34, 34);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: justify;
    margin-top: 40px;
}
.col2 input,.col3 textarea{
    width: 94%;
    height: 45px;
    margin: 30px 20px;
    font-size: 15px;
}
.col1 input{
    width: 45%;
    height: 45px;
    margin: 40px 20px;
    font-size: 15px;
    text-align: justify;
   
}
.col3 textarea{
   height: 200px;
}
.contact-form input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    background: rgb(236, 129, 28);
}
.gmail a{
    text-decoration: none;
    color: #ffffff;
}

.last-text {
    width: 100%;
    background: rgb(236, 129, 28);
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: -100;
    left: 0;
    margin-top: 20px;
    padding: 30px 0;
}
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(236, 129, 28);
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-to-top-button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 40px;
}

.scroll-to-top-button:hover {
    background-color: rgb(236, 129, 28);
}
